.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/src/__pycache__/

_Temp/
RunBot.bat
client_secret.json
.env

/src/logs/*
!/src/logs/.gitkeep
